@page
@model WebApplication1.Pages.StudentModel
@{
    ViewData["Title"] = "Students";
}

<h2>Students</h2>
<table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Department Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.LastName</td>
                <td>@student.FirstName</td>
                <td>@student.DeptDescription</td>
            </tr>
        }
    </tbody>
</table>
